.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgb(104, 10, 138), rgba(70, 7, 92, 1) 58% 100%);
    width: 100%;
    margin-bottom: 0;
}
.redes{
    margin-right:50px ;
}
.icons{
    margin-right: 30px;
}

.contatos{
    margin-left: 50px;
}
.contatos p{
    color: #000;
    font-size: 16pt;
}

@media screen and (max-width:1048px) {
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin: 0px;
    }
    .logo{
        display: none;
    }
    .redes{
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: row;
    }
    .icons{
        width: 30px;
        height: 30px;
    }
    .contatos{
        margin: 10px 0px ;
        padding: 0px;
    }
    .contatos p{
        color: #fff;
        font-size: 12pt;
    }

}